*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    
}
body{
    background-color: black;
    font-family: sans-serif;
}
#sec{
    display: flex;
    width: auto;
    flex-direction: row;
   
    align-items: center;
    text-align: center;
   
    background: rgb(99, 145, 145);
    
   
}

img{
    
    display:flex;
    justify-content: space-around;
            
            justify-content: left;
            
    height: 10vh;
    margin: left;
    
}


.buttons{
    display: flex;
    justify-content: space-between;
     flex-direction: row;
    margin-top: 0rem;
    background-color: grey;
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
   
}
.btn1{
    display: inline-block;
 
    text-align: center;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 1.2rem;
    padding-left: 3.4rem;
    padding-right: 3.4rem;
    border: 2px solid red;
    border: none;
    border-radius: 2px;
    background-color: grey;
    color: white;
    cursor: pointer;
}


    
.btn4{
    display: inline-block;
    position: relative;
    text-align: center;
    align-items: center;
    justify-content: center;
     text-decoration: none;
     font-size: 1.2rem;

     padding-left: 3.4rem;
     padding-right: 3.4rem;
    border: 2px solid red;
    border: none;
    border-radius: 2px;
    background-color: grey;
    color: white;
    cursor: pointer;
}
h1{
    color: white;
    font-size: 2rem;
}
.d2{
    
    display: flex;
    justify-content: space-between;
     flex-direction: column;
    margin-top: 15rem;
    
    
    position: relative;
    align-items: center;

   
}
.download{
    display: inline-block;
    text-decoration: none;
    color: white;
   padding: 0.4rem 2rem;
    border: 2px solid red;
    border: none;
    border-radius: 7px;
    background-color: red;
}
.view{
    display: inline-block;
    padding: 0.4rem 2rem;
   border: 2px solid green;
   border: none;
   border-radius: 6px;
   color: white;
   background-color: brown;
   margin-top: -4rem;
}
.view1{
    text-decoration: none;
    color: white;
    

}
.last{
   
    display: flex;
    justify-content: space-between;
     flex-direction: row;
     position: absolute;
     left: 0rem;
     top: 8rem;
    
}
 .bio{
     display: flex;
     text-decoration: none;
     color: white;
     font-size: 1.4rem;
 }
 .btn-2{
     display: flex;
     align-items: center;
     text-align: center;
     justify-content: center;
    
     margin-top: 65%;
     
 }
 .btn2{
     display: inline-block;
     text-decoration: none;
     font-size: 2rem;
     color: white;
     border: 2px solid red;
     
     background-color: red;
     border: none;
     padding: 0.4rem 2rem;
     border-radius: 8px;
     cursor: pointer;
     
    }
    .file123{
        display: flex;
        align-items: center;
        margin-top: -50rem;
        justify-content: top;
        flex-direction: column;
    }
    label{
        display: inline;
        
        margin-right: -1rem;
        margin-left: 1rem;
        font-size: 1.5rem;
        color: white;
    }
    .file1{
        display: flex;
        align-items: center;
        justify-content: center;
        
       color: white;
    }
    #pdf{
        margin-left: 1rem;
        margin-right: -4rem;
        font-size: 1.2rem;
    }
    .submit{
        font-size: 0.8rem;
        margin-left: -2rem;
    }
    .view{
        display: inline-block;
        text-align: center;
        text-decoration: none;
        position: relative;
        top: 2rem;
    }
.description{
    display: flex;
    flex-direction: column;
    justify-content: left;
    text-align: left;
    margin-top: 4rem;
}
.h1-text{
    display: inline-block;
    text-align: left;
    justify-content: left;
    align-items: flex-start;
}
#text{
    padding: 12px 20px;
   box-sizing: border-box;
    width: 100%;
}
   .save{
    display: inline-block;
    position: relative;
    text-align: center;
    align-items: center;
    justify-content: center;
     text-decoration: none;
     font-size: 1.2rem;
      margin-top: 0.8rem;
     padding-left: 1.4rem;
     padding-right: 1.4rem;
    border: 2px solid red;
    border: none;
    border-radius: 2px;
    background-color: red;
    color: white;
    cursor: pointer;
    
}

#subject{
    display: flex;
    align-items: center;
    justify-content: center;

    width: 25rem;
    
}
@media (max-width: 800px) {
    .file123{
        margin-top: -8rem;
    }
}